body {
  text-align: center;
  background-color: rgb(255, 255, 153);
  /* background-image: url("https://ae01.alicdn.com/kf/HTB1nAkRi9YH8KJjSspdq6ARgVXa4/white-damask-gray-grey-Floral-pattern-Background-Vinyl-cloth-High-quality-Computer-print-wall-photo-backdrop.jpg"); */
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ff9966;
}

h1 {
  color: teal;
  font-family: "Old English Text MT", cursive;
  /* background-color: maroon; */
  font-size: 100px;
  width: 100%;

}

.information {
  text-align: left;
  width: 50%;
  left: 0;
  display: inline-block;
  font-size: 150%;
}

p {
  font-size: 200%;
  /* display: inline-block; */

  font-family: cursive;
  /* background-color: rebeccapurple; */
}

.forms {
  /* background-color: rgb(204, 255, 204); */
}

.forms input[type="text"] {
  width: 250px;
  padding: 10px;
  font-weight: bold;
  background-color: yellow;
  font-family: "Old English Text MT", fantasy;
  font-size: 120%;
  /* color: blue; */
}

.forms input[type="radio"] {
  cursor: pointer;
  position: relative;
}

.forms input[type="submit"] {
  cursor: pointer;
  height: 50px;
  width: 100px;
  font-weight: bold;
  font-size: 120%;
  font-family: "Old English Text MT", cursive;
  background-color: maroon;
  color: yellow;
}

.forms input[type="submit"]:hover {
  background-color: blue;
}

.radio-value {
  font-family: Stencil, cursive;
  font-size: 150%
}

img {
  display: inline-block;
  border-radius: 50%;
  /* align: right; */
  width: 250px;
  margin-right: 100px;
  /* padding-right: 40px; */
}

a:visited {
  color: red;
}

a:hover {
  color: rgb(51, 204, 51);
}

a:active {
  color: blue;
}

.credits {
  position: static;
  text-align: left;
  bottom: 0;
  left: 0;
  font-size: 20px;
}
